/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
    background-color: #efefef;
}

header.navbar {
    background: white;
    border-bottom: 1px solid #ccc;
    height: 90px;
}

#content {
    padding: 90px 0;
    background-color: white;

}

ul.no-bullet,
ul.flat-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat-list li {
    display: inline-block;
    float: none;
}

footer {
    border-top: 1px solid #ccc;
    color: #999;
    height: 250px;
    padding-top: 15px;
}

#footer ul {
    text-align: center;
}

#footer #addresses li:after {
    content: ' • ';
}

#footer #addresses li:last-child:after {
    content: '';
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#twitter-container {
    display: inline-block;
    width: 32%;
    float: right;
    /*background: #000;*/
    background-size: 6px 6px;
    background-image: linear-gradient(
    -45deg, 
    rgba(0, 0, 0, 0.1) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(0, 0, 0, 0.1) 50%, 
    rgba(0, 0, 0, 0.1) 75%, 
    transparent 75%, 
    transparent);
    background-image: -moz-linear-gradient(
    -45deg, 
    rgba(0, 0, 0, 0.1) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(0, 0, 0, 0.1) 50%, 
    rgba(0, 0, 0, 0.1) 76%, 
    transparent 75%, 
    transparent);
}

/*****************************************************************************/
/*
/* Blog
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* About Us
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Our Work
/*
/*****************************************************************************/

#project_list li {
	text-align: center;
	margin-bottom: 2em;
}

#project_list p {
	height: 1em;
}

#project_banner_image {
    height: 400px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.project-image img {
	width:100%;
}


/*****************************************************************************/
/*
/* What We Do
/*
/*****************************************************************************/

#experience .flat-list li:after {
    content: ', ';
}

#experience .flat-list li:last-child:after {
    content: '';
}

