---
layout: default
include_twitter: true
include_facebook: true
include_embeds: true
banners:
  - img: "/img/home_bridge2.gif"
    url: "/about-us/"
    bgcolor: '#f15a24'
  - bgimg: "/img/slider-childhood.jpg"
    url: "/our-work/2013-10-16-photographing-childhood"
    full_width: true
  - img: "/img/card1_lo.gif"
    url: "/what-we-do/"
    bgcolor: '#ccc'
    
blocks:
  -
    cols: 5
    text: What We Do
    bgimg: "/img/what-we-do.jpg"
    url: '/what-we-do'
  -
    cols: 7
    video: true
    bgimg: "/img/bomb-squad.jpg"
    url: 'http://www.youtube.com/watch?v=O2LkQ8JXOUk'
  -
    cols: 8
    text: Kaise Ho
    bgimg: "/img/kaise-ho.jpg"
    url: '/blog/2013/10/24/kaise-ho'
  -
    cols: 4
    twitter: true
    tweets: 10

we-believe:
  -
    img:  /img/we-believe-1.png
    text: Joy is in the journey
  -
    img:  /img/we-believe-2.png
    text: Lost time is never found
  -
    img:  /img/we-believe-3.png
    text: Collaboration leads to success
  -
    img:  /img/we-believe-4.png
    text: Doing good
  -
    img:  /img/we-believe-5.png
    text: Data is the new soil
  -
    img:  /img/we-believe-6.png
    text: Being curious
  -
    img:  /img/we-believe-7.png
    text: Problem solving
  -
    img:  /img/we-believe-8.png
    text: Work || Life
  -
    img:  /img/we-believe-9.png
    text: Design is the art of conversation
    
custom_js: |-
  <script type="text/javascript">
    $(document).ready(function() { 
      $("[data-toggle='tooltip']").tooltip(); 
    });
  </script>
---

<div id="home">
  
	<div id="home_banner">
    <div id="home_carousel" class="carousel fading slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for banner in page.banners %}
        {% capture bg_img_style   %}{% if banner.bgimg %}background-image:url('{{banner.bgimg}}');{% endif %}{% endcapture %}
        {% capture bg_size_style  %}{% if banner.full_width %}background-size:cover;{% endif %}{% endcapture %}
        {% capture bg_color_style %}{% if banner.bgcolor %}background-color:{{banner.bgcolor}};{% endif %}{% endcapture %}
        <div class="item {% if forloop.first%}active{% endif %}" style="{{bg_size_style}}{{bg_img_style}}{{bg_color_style}}">
          <div class="container">
            {% capture img_src %}{% if banner.full_width %}/img/blank.gif{% else %}{{ banner.img }}{% endif %}{% endcapture %}
            <a href="{{ banner.url }}"><img src="{{ img_src }}" alt="Slide {{ forloop.index }}"></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
	</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
  			<p class="lead">We are a creative agency that designs experiences to make a visual impact.</p>
      </div>
		
		{% for block in page.blocks %}
      <div class="col-sm-{{ block.cols }}">
        <div class="home-block" style="background-image:url('{{ block.bgimg }}')">
        {% if block.video %}
          <div id="{{ block.url | slug }}" class="video-embed embed">
            <a href="#{{ block.url | slug }}" class="embed-play" data-src="{{ block.url }}"></a>
          </div>
        {% elsif block.twitter %}
          {% include twitter_timeline.html %}

        {% else %}
  				<h3><a href="{{ block.url }}"><span>{{ block.text }}</span></a></h3>
  			{% endif %}
        </div>
			</div>
    {% endfor %}
    </div>
    
    <div id="we_believe" class="row">
      <div class="col-sm-12">
        <h2 class="pull-left">We Believe</h2>
        <ul class="flat-list">
          {% for wb in page.we-believe %}
          <li>
            <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="{{ wb.text | markdownify }}">
              <img src="{{ wb.img }}" />
            </a>
          </li>
          {% endfor %}
        </ul>
  	  </div>
	  </div>
	</div>
</div>