/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#twitter-container {
	display: inline-block;
	width: 32%;
	float: right;
	/*background: #000;*/
	background-size: 6px 6px;
  background-image: linear-gradient(
		-45deg, 
		rgba(0, 0, 0, 0.1) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(0, 0, 0, 0.1) 50%, 
		rgba(0, 0, 0, 0.1) 75%, 
		transparent 75%, 
		transparent);
	background-image: -moz-linear-gradient(
		-45deg, 
		rgba(0, 0, 0, 0.1) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(0, 0, 0, 0.1) 50%, 
		rgba(0, 0, 0, 0.1) 76%, 
		transparent 75%, 
		transparent);
}

/*****************************************************************************/
/*
/* Blog
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* About Us
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Our Work
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* What We Do
/*
/*****************************************************************************/


