---
title: Contact
layout: page
excerpt: Drop us a line. Say hello. Let's get to know each other.
contacts:
  - id:   telephone
    text: 646-652-6455
  - id:   email
    text: hello@bridgercreative.com
    url:  mailto:hello@bridgercreative.com
  - id:   address
    text: 40 West 37th Street, Suite 806, New York, New York 10018
    url:  "https://www.google.com/maps/preview#!q=40+West+37th+Street%2C+Suite+806%2C+New+York%2C+New+York+10018&data=!1m4!1m3!1d3932!2d-73.9853848!3d40.751027!4m15!2m14!1m13!1s0x89c259aa2f9abed5%3A0x639ae5873bb8823a!3m8!1m3!1d387191!2d-73.979681!3d40.697488!3m2!1i1024!2i768!4f13.1!4m2!3d40.751027!4d-73.9853848"
custom_js: '<script type="text/javascript" src="/js/instagram.js"></script>'
---

{% for contact in page.contacts %}
  <p id="{{ contact.id }}" class="contact-type">
  {% if contact.url %}
    <a href="{{ contact.url }}">{{ contact.text }}</a>
  {% else %}
    {{ contact.text }}
  {% endif %}
  </p>
  <hr/>
{% endfor %}

<div class="instagram-container" data-image-count="3" data-cols-count="3" data-user-id="753097420" data-photo-size="medium"></div>