---
title: About Us
layout: page
excerpt: Hi, we’re Bridger, a design agency that collaborates with you to create smart and meaningful experiences that connect with your customers.
people:
  -
    name:  Jeremiah Simpson
    img:   about-us/jeremiah@2x.jpg
    email: jeremiah@bridgercreative.com
    tel:   646.652.6455
    position: Founder & Creative Director
    description: |-
      Jeremiah has been in the creative industry nearly 15 years and leads the vision for Bridger. He has had the opportunity to collaborate with a variety of talented teams, both large and small, including R/GA, MRM and leading business consulting firms.
    
  -
    name:  Matt Simpson
    img:   about-us/matt@2x.jpg
    email: matt@bridgercreative.com
    tel:   646.652.6455
    position: Founder & Creative Director
    description: |-
      After starting a neighborhood T-shirt business with his brother at the age of 10 (painting custom designs at $5 a pop), Matt was hooked on seeing how people interacted with design.

  -
    name:  Russell Parrish
    img:   about-us/russell@2x.jpg
    email: russell@bridgercreative.com
    tel:   646.652.6455
    position: Designer
    description: |-
      A lifelong learner, Russell brings to Bridger a variety of diverse skills such as human interface design, branding, packaging, motion graphics, and cinematography.
  
testimonials:
  - quote: I am really in love with everything you've done. You ROCK!
    name: LaNola Stone Photography
  - quote: Bridger was very professional and responsive. We were impressed with their knowledge and strategy skills. We will continue to work with them in the future as new opportunities arrive.
    name: Watkins Group
  - quote: This is exciting stuff and it's been a huge help having a pro like you to work with!
    name: GoPro Bomb Squad

custom_js: '<script type="text/javascript" src="/js/instagram.js"></script>'
---

<div class="row">
  {% for person in page.people %}
    <div class="col-sm-4 profile">
      <div class="profile-content">
        <h3>{{ person.name }}</h3>
        <h5>{{ person.position }}</h5>
        <div class="profile-description">
          {{ person.description | markdownify }}
        </div>
        <div class="profile-contact">
          <div class="profile-email"><span class="icon envelope"></span><a href="mailto:{{ person.email }}">{{ person.email }}</a></div>
          <div class="profile-tel"><span class="icon telephone"></span>{{ person.tel }}</div>
        </div>
      </div>
      <div class="profile-img">
        {% image 385xAUTO {{ person.img }} alt="{{ person.name }}" %}
      </div>
    </div>
  {% endfor %}
</div>

<div class="quote-container row">
  {% include testimonials.html list=page.testimonials %}
</div>

<div class="instagram-container" data-image-count="12" data-cols-count="6" data-user-id="753097420" data-photo-size="small"></div>