{% assign comments_count = (post.comments == true and page.comments != true) %}
{% assign post = include.post %}
{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div id="{{ post.title | slug }}" class="post">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="post-meta">
    <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
    {% if author %}
    |
    <span class="post-author">{{ author }}</span>
    {% endif %}
  </div>
  <div class="post-content">
  {% if content.size > 0 %}
    {{ content | markdownify }}
  {% else %}
    {{ post.excerpt | markdownify }}
  {% endif %}
  </div>
  
  <div class="post-baseline row">

    {% if comments_count %}
    <div class="comment-link col-sm-12 col-md-4">
      <a href="{{ post.url }}" data-disqus-identifier="{{ post.title | slug }}" class="comment-count">0</a>
      <a href="{{ post.url }}">Leave A Comment</a>
    </div>
    {% endif %}
    
    {% if post.title == page.title %}
    <div class="{% if comments_count %}col-md-8{% endif %} hidden-sm hidden-xs">

      <div class="post-categories pull-left">
        <ul class="flat-list comma-list">
        {% for cat in post.categories %}
          <li>{{ cat | category_link }}</li>
        {% endfor %}
        </ul>
      </div>

      <div class="post-share-widgets pull-right">
        <div class="twitter share-widget">
          <a href="https://twitter.com/share" 
             class="twitter-share-button" 
             data-related="BridgerCreative" 
             data-lang="en"
             data-size="medium" 
             data-count="none">Tweet</a>
        </div>

        <div class="facebook share-widget">
          <div class="fb-like" 
                data-href="{{ site.url}}{{ page.url }}" 
                data-layout="button_count" 
                data-action="like"
                data-show-faces="false"
                data-share="false"></div>
        </div>
      </div>

    </div>
    {% endif %}

  </div>
  
</div>
