{% assign url = include.url %}
{% assign project = include.project %}
<div class="col-md-3 col-xs-6 project">
  {% capture thumbnail_url %}
  {% if project.thumbnail.url %}{{ project.thumbnail.url }}
  {% elsif project.banner.url %}{{ project.banner.url }}
  {% else %}{{ project.media[0].url }}{% endif %}
  {% endcapture %}
  <div class="project-image" style="background-image:url('{{ thumbnail_url | strip | image_url: '280xAUTO' }}')">
    <a href="/our-work/{{ url }}">
      {% image 280xAUTO {{ thumbnail_url | strip }} alt="{{ project.title }}" %}
    </a>
  </div>
  <h3>{{ project.title }}</h3>
  {% include project_categories.html list=project.categories dir="categories" %}
</div>
