---
title: Jobs
layout: page
excerpt: |-
  If you believe in designing impactful visual stories you may just be who we’re looking for. 
  We offer competitive salaries, a plethora of benefits, and a great work environment. We’re always striving to do better work. 
  If you believe you can make a meaningful contribution in one of these areas, please apply to join us.
jobs:
  - type: Onsite Team
    url: https://bridgercreative.wufoo.com/forms/bridger-nyc/
    positions:
    - UX/UI Designer
    - Developer
  - type: Virtual Partners
    url: https://bridgercreative.wufoo.com/forms/bridger-virtual-team/
    positions:
    - Developer
    - UX/UI Designer
    - Video Post Production
---

{% for job in page.jobs %}
  <div class="job">
    <h3>{{ job.type }}</h3>
    <ul class="no-bullet">
      {% for position in job.positions %}
      <li>
        <a href="{{ job.url }}" target="_blank">{{ position }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
