---
logo_words:
- Design
- Create
- Visual
- Data
nav_links:
- What We Do
- Our Work
- About Us
- Blog

---
<!DOCTYPE html>
<html>
    <head>
	
			<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="Kennedia Consulting: History around You.">
			<meta name="author" content="Kennedia">

			<!-- FB Meta -->
			<meta property="og:title"        content="Landmark App: History around You."/>
			<meta property="og:url"          content="http://www.kennedia.com"/>
			<meta property="og:image"        content="http://www.kennedia.com/fb_logo.png"/>
			<meta property="og:image:type"   content="image/png">
			<meta property="og:image:width"  content="1024">
			<meta property="og:image:height" content="1024">

			<link rel="stylesheet" href="/css/bootstrap.min.css">
			<link rel="stylesheet" href="/css/main.css">

			<!-- Custom Page CSS -->
			{{ page.custom_css }}
			
    </head>
    <body>

	    <header id="header" class="navbar navbar-fixed-top" role="banner">
        <div class="container">

				  <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
				    <a class="navbar-brand" href="/">
				      <div id="logo_overlay" data-words="{{ page.logo_words | join: ',' }}">
				        <span>{{ page.logo_words | random }}</span>
				      </div>
				      {{ site.name }}
				    </a>
				  </div>

          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
						<ul class="nav navbar-nav navbar-right">
						{% for link in page.nav_links %}
						  {% capture url %}{{ link | slug }}{% endcapture %}
						  {% capture css_class %}{% if page.url contains url %}active{% endif %}{% endcapture %}
				      <li class="{{ css_class }}"><a href="/{{ url }}">{{ link }}</a></li>
				    {% endfor %}  
				    </ul>
					</nav>
					
        </div>
			</header>

      <div id="content">
     		{{ content }}
      </div>

	    <footer id="footer" class="footer">
	      <div class="container">
		
					<div id="footer_nav">
						<ul class="nav nav-pills flat-list">
				      <li><a href="/jobs/">Jobs</a></li>
				      <li><a href="/contact/">Contact</a></li>
				      <li><a href="/press/">Press</a></li>
				    </ul>
					</div>
					
					<div id="addresses">
						<ul class="flat-list">
				      <li>hello@bridgercreative.com</li>
				      <li>646.652.6455</li>
							<li>40 West 37th Street #806, New York NY 10018</li>
				      <li>Copyright © Bridger, LLC. All Rights Reserved.</li>
				    </ul>
					</div>
					
					<div id="social_links">
						<ul class="flat-list">
							<li class="social-icon facebook"><a href="https://www.facebook.com/studiobridger">Facebook</a></li>
							<li class="social-icon instagram"><a href="https://instagram.com/bridgercreative">Instagram</a></li>
							<li class="social-icon twitter"><a href="https://www.twitter.com/bridgercreative">Twitter</a></li>
							<li class="social-icon youtube"><a href="https://www.youtube.com/user/BridgerCreative">YouTube</a></li>
							<li class="social-icon pinterest"><a href="https://www.pinterest.com/bridgercreative/">Pinterest</a></li>
						</ul>
					</div>
					
				</div>
			</footer>

	    <!-- Javascript
	    ================================================== -->
	    <script type="text/javascript" src="/js/jquery.js"></script>
	    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
	    <script type="text/javascript">
    	$(document).ready(function() {
    	  $('.navbar-brand').on("mouseenter", function() {
    	    // Get the list of words allowed to show
    	    var logo = $("#logo_overlay");
    	    var target = logo.children('span');
    	    var words = logo.data('words').split(',');
    	    // Move to the next word in the list or start at the beginning
    	    var i = words.indexOf(target.text().trim());
    	    var new_word;
    	    new_word = (i > -1 && i < (words.length-1)) ? words[i+1] : words[0];
    	    target.text(new_word);
    	  })
    	});
	    </script>
      {% include analytics_js.html %}
      {% include facebook_js.html  %}
      {% include twitter_js.html   %}
      {% include disqus_js.html    %}
      {% include embedly_js.html   %}
      
			<!-- Custom Page JS -->
			{{ page.custom_js }}

    </body>
</html>
