---
layout: default
include_twitter: true
include_facebook: true
---

<div id="blog" class="container">
  <div class="row">
    <div id="blog_content" class="col-md-8">

      <div class="row">
        {% include post.html post=page content=content %}
      </div>

      <div id="post_comments" class="row">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>

    </div>

    <div id="blog_sidebar" class="col-md-3 pull-right">
    {% include blog_sidebar.html %}
    </div>

  </div>
</div>
