---
layout: default
---

{% if page.banner %}
<div id="project_banner" style="background-color:{{ page.banner_color }}; background-image: url('{{ page.banner_bg_image.url }}')">
  {% if page.banner.type == 'image' %}
  
  <div id="project_banner_image" class="container" style="background-image: url('{{ page.banner.url }}')"></div>
  {% endif %}
</div>
{% endif %}


<div id="project" class="container">

  <h1 id="{{ page.name }}-title">{{ page.title }}</h1>

  <div class="row">
    <div id="project_body" class="col-md-4">
      <div class="project-categories">
        {% include project_categories.html list=page.categories dir="categories" %}
      </div>
      <div class="project-descr">
        {{ page.description | markdownify }}
      </div>
      <hr/>

      {% if page.credits.size > 0 %}
      <h3>Credits</h3>
      <div class="project-credits">
        <ul class="no-bullet">
        {% for credit in page.credits %}
          <li>{{ credit | markdownify }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      
      {% if page.tags.size > 0 %}
      <h3>Tags</h3>
      <div class="project-tags">
        {% include project_categories.html list=page.tags dir="tags" %}
      </div>
      {% endif %}
    
    </div>
    <div id="project_media" class="col-md-8">
      <ul class="no-bullet">
      {% for media in page.media %}
        <li>
        {% if media.type == 'image' %}
          <div class="project-image">
            <img src="{{ media.url }}">
          </div>
        {% elsif media.type == 'video' %}
          {{ oembed media.url }}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
